.rpanel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  margin: 16px 0px 16px 0px;
}

.rpanel {
  display: flex;
  flex-flow: row;
  width: 80%;
  display: flex;
  background-color: #FFFFFF;
  height: 100%;
}

.rpanel .question-detail {
  flex-grow: 1;
  padding: 1.5rem;
  flex-basis: 100%;
  overflow: scroll;
}

.rpanel .explanation {
  flex-grow: 1;
  flex-basis: 100%;
  padding: 1.5rem;   
  overflow: scroll; 
}